/* Event card styling */

.parent-container {
    display: flex;
    justify-content: center; /*to center event cards*/
    padding: 10px; 
  }
  

  .events-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .event-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid black; 
    width: 310px; 
    height: 460px; 
    overflow: hidden; 
  }
  
  .event-image {
    width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: cover; 
    background-color: #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .event-card h2 {
    font-size: 18px;
    margin: 0 0 5px;
  }
  
  .event-card p {
    margin: 3px 0;
    color: #000000;
  }
  
  
  
  
  /*Styling for approve or reject buttons*/
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .actions button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin-right: 5px;
    font-size: 14px;
  }
  
  .actions button:last-child {
    margin-right: 0;
  }
  
  .actions button:first-child {
    background-color: #003366;
    color: #fff;
  }
  
  .actions button:last-child {
    background-color: #ccc;
    color: #333;
  }
  /****************************/

  /*Container for the event details */
.event-details {
    display: flex;
    flex-direction: column;
    width: 100%; 
  }
  
  /* Flex container for date and Free/Paid */
  .event-row {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 5px; 
  }
  
  /* Flex column for other details (time, location, organizer) */
  .event-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0; 
  }
  
  /* Align Free/Paid to the far right */
  .event-payment-status {
    font-weight: bold;
    color: #003366;
    text-align: right;
    flex-shrink: 0; 
    margin-left: 20px; 
  }
  
  /* Reduce the spacing between the rows */
  .event-info p, .event-row p {
    margin: 2px 0; 
  }
  
  
  .spacer {
    height: 20px;
  }


  .description{
    padding: 8px 10px;
    border: none;
    background-color: #003366;
    color: #fff;
    border-radius: 8px;
  }