/*@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600&display=swap");*/
 @import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap'); 

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Khula';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
} */

:root {
  --primary: #18336C;
  --background: #ffffff;
  --primaryGrey: #36454F;
  --hoverColor: #647eb4;


  
}
