body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #191970;
  --background: #ffffff;

  --btn-border-radius: 8px;
  
}

.btn {
  background-color: var(--primary);
  color: var(--background);
  border-radius: var(--btn-border-radius);
  height: 48px;
  width: 180px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  outline: #195770 1px solid;
}